body {
    font: 18px arial, sand-serif;
    background: #eee;
}

#searches {
    width: 70%;
}

.search-item {
    float: left;
    padding: 10px;
}

form {
    width: 30%;
    float: right;
    padding: 20px;
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    font-style: 18px;
}

button, input[type="submit"] {
    background: #659a98;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    box-shadow: 2px 2px 3px #bbb;
}

button:hover,
input[type="submit"]:hover {
    background: #334e4d;
}

button.active {
    background: #334e4d;
}



































.footer {
    position: absolute;
    bottom: 0px;
    font-size: 75%;
    margin-top: 0.5em;
    padding-top: 0.5em;
    width: 100%;
    color: #2053b3;
    background-color:#f89f2d;
    border-top-style: solid;
    border-top-color: #e9491e;
    border-top-width: 8px;
}

.footer .small {
    font-size: 75%;
}

.footer a:link {
    text-decoration: none;
    color: #bbab16;
}

#gh-link {
    font-size: 1.5em;
}

.footer a:visited {
    text-decoration: none;
    color: black;
}

.footer a:hover {
    filter: drop-shadow(0.063em 0.063em 0em #bbab16);
}